.body{
    padding-left: 20px;
    padding-right: 20px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(224, 179, 95, 0.705) ;
    border-radius: 8px;
    

    &.active{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: rgba(224, 179, 95, 0.705) ;
        
    }

    &__icon{
        font-size: 36px;
    }

    &__text{
        text-align: center;
        font-size: 18px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

        &--size{
            font-size: 22px;
        }

        &.active{
            display: none;
        }
    }
}