.projects{
    padding: 20px;
    margin-bottom: 15px;

    &__title1{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    &__calculator{
        display: flex;
        width: 180px;
        height: 160px;
        border-radius: 10px;
    }

    &__name1{
        margin-top: 10%;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-decoration: underline;
    }

    &__first-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 182px;
        margin-top: 15px;
        background-color: rgba(151, 250, 204, 0.705);
        border-radius: 8px;
        box-shadow: 1px 4px 8px 0px;

        &--size{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: 162px;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
            }    

        &__icon{
            font-size: 30px;
            color: rgba(224, 179, 95, 0.897);
            cursor: pointer;
            margin-top: 22px;
        }
    }

    &__second-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: rgba(151, 250, 204, 0.705);
        border-radius: 8px;
        margin-top: 15px;
        box-shadow: 1px 4px 8px 0px;

        &__icon{
            font-size: 20px;
            color: rgb(224, 179, 95);
            cursor: pointer;
            margin-left: 280px;
            margin-top: 10px;
            
        }
    }


    &__text{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-weight: bold;
        text-align: center;
        padding-left: 5px;
        padding-right: 5px;
    }

    &__link{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        width: 120px;
        height: 25px;
        border-radius: 4px;
        background-color: rgb(7, 174, 240);
        text-decoration: none;
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        

        &:hover{
            background-color: rgba(7, 174, 240, 0.466);
            cursor: pointer;
        }
    }

}
a{
    display: inline;
    justify-content: center;
    margin-left: 15px;
    font-size: 22px;  
}


@media (min-width: 568px){

    .projects{
        padding: 20px;
        margin-bottom: 15px;
    
        &__name1{
            margin-top: 5%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: underline;
        }

        &__second-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
    
            &__icon{
                font-size: 20px;
                color: rgb(224, 179, 95);
                cursor: pointer;
                margin-left: 485px;
                margin-top: 10px;
                
            }
        }
    }
}

@media (min-width: 640px){
    .projects{
        padding: 20px;
        margin-bottom: 15px;
    
        &__name1{
            margin-top: 5%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: underline;
        }

        &__second-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
    
            &__icon{
                font-size: 20px;
                color: rgb(224, 179, 95);
                cursor: pointer;
                margin-left: 530px;
                margin-top: 10px;
                
            }
        }
    }
}

@media (min-width: 731px){
    .projects{
        padding: 20px;
        margin-bottom: 15px;
    
        &__name1{
            margin-top: 5%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: underline;
        }

        &__second-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
    
            &__icon{
                font-size: 20px;
                color: rgb(224, 179, 95);
                cursor: pointer;
                margin-left: 650px;
                margin-top: 10px;
                
            }
        }
    }
}

@media (min-width: 823px){
    .projects{
        padding: 20px;
        margin-bottom: 15px;
    
        &__name1{
            margin-top: 5%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: underline;
        }

        &__second-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
    
            &__icon{
                font-size: 20px;
                color: rgb(224, 179, 95);
                cursor: pointer;
                margin-left: 690px;
                margin-top: 10px;
                
            }
        }
    }
}

@media (min-width: 1024px){
    .projects{
        padding: 20px;
        margin-bottom: 15px;
    
        &__name1{
            margin-top: 5%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: underline;
        }

        &__second-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
    
            &__icon{
                font-size: 20px;
                color: rgb(224, 179, 95);
                cursor: pointer;
                margin-left: 890px;
                margin-top: 10px;
                
            }
        }
    }
}

@media (min-width: 1366px){
    .projects{
        padding: 20px;
        margin-bottom: 15px;
    
        &__name1{
            margin-top: 2%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: underline;
        }

        &__second-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
    
            &__icon{
                font-size: 20px;
                color: rgb(224, 179, 95);
                cursor: pointer;
                margin-left: 1200px;
                margin-top: 10px;
                
            }
        }
    }
}

@media (min-width: 1024px) and (max-width: 1365px){
    .projects{
        padding: 20px;
        margin-bottom: 15px;
    
        &__name1{
            margin-top: 3%;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-decoration: underline;
        }

        &__second-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
    
            &__icon{
                font-size: 20px;
                color: rgb(224, 179, 95);
                cursor: pointer;
                // margin-left: 1200px;
                margin-top: 10px;
                
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 374px) {
    .projects{
        padding: 20px;
        margin-bottom: 15px;

        &__second-menu{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            background-color: rgba(151, 250, 204, 0.705);
            border-radius: 8px;
            margin-top: 15px;
            box-shadow: 1px 4px 8px 0px;
    
            &__icon{
                font-size: 20px;
                color: rgb(224, 179, 95);
                cursor: pointer;
                margin-left: 220px;
                margin-top: 10px;
                
            }
        }
    }
}