.header{
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid rgba(151, 250, 204, 0.705);
    height: 50px;
    padding: 22px;
    position: fixed;
    background-color: rgba(247, 208, 136, 0.938);
    z-index: 1;

    &__link{
        flex: 1;
        display: flex;
        justify-content: flex-start;
        text-decoration: none;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 24px;
    }

    &__title{
        flex: 1;
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    &__icon{
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin-right: 45px;
        font-size: 25px;
        
        &__position{
            margin-right: 15px;
        }

        &:hover{
            cursor: pointer;
            color: rgba(151, 250, 204, 0.705);
        }
    }

        &__menu{
            background-color: rgba(247, 208, 136, 0.986);
            width: 200px;
            height: 100vh;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            right: -100%;
            transition: 850ms;
            z-index: 1;
            

            &.active{
                right: 32px;
                transition: 350ms; 
            }

            &__icon{
                font-size: 25px;
                margin-top: 25px;
                margin-right: 130px;
                position: absolute;
                

                &:hover{
                    color: rgba(151, 250, 204, 0.705);
                    cursor: pointer;
                }
            }

            &__link{
                text-decoration: none;
                color: black;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                font-weight: bold;
                margin-bottom: 30px;
                font-size: 18px;
                cursor: pointer;

                &--position{
                    margin-top: 40px;
                }
                
            }
        }

        &__icon-menu{
            font-size: 22px;
            margin-right: 10px;
            

            &:hover{
                color: rgba(151, 250, 204, 0.705);
                cursor: pointer;
                }
        }

    }


li{
    list-style: none;
    margin-right: 20px;
}

.brands{
    width: 22px;
    height: 22px;
    margin-left: 20px;
    cursor: pointer;

    &--position{

    display: flex;
    margin-top: 60px;
    }
}

@media (min-width: 568px) {

    .header{
        display: flex;
        align-items: center;
        width: 100%;
        border-bottom: 4px solid rgba(151, 250, 204, 0.705);
        height: 50px;
        padding: 22px;
        position: fixed;
        background-color: rgba(247, 208, 136, 0.938);
        z-index: 1;
    
        &__title{
            flex: 2;
            display: flex;
            justify-content: center;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }

        &__menu{
            background-color: rgba(247, 208, 136, 0.986);
            width: 200px;
            height: 100vh;
            display: flex;
            justify-content: center;
            position: absolute;
            top: 0;
            right: -100%;
            transition: 850ms;
            z-index: 1;
            

            &.active{
                right: 32px;
                transition: 350ms; 
                overflow: scroll;
            }
        }

}
}
