.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(15, 120, 240);

    &__icon1{
        font-size: 35px;
        display: flex;
        padding: 20px;
        color: orangered;
    }

    &__icon2{
        font-size: 35px;
        display: flex;
        padding: 20px;
        color: rgb(25, 25, 236);
    }

    &__icon3{
        font-size: 35px;
        display: flex;
        padding: 20px;
        color: rgb(155, 22, 182);
    }

    &__icon4{
        display: flex;
        justify-content: center;
    }
}

