.body{
    padding-left: 20px;
    padding-right: 20px;
}

.code{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: auto;
    background-color: rgba(224, 179, 95, 0.705);
    border-radius: 8px;

    &__title{
        margin-top: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        margin-bottom: 40px;
    }

    &__text{
        font-size: 18px;
        padding: 15px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    &__icon{
        font-size: 36px;
    }
}