
.home{
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-top: 100px;
    

    &__img{
        margin-top: 40px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        filter: grayscale(100%);
        background-image: url("/assets/yo.jpeg");
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
}

   
}

.text{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}


