.padding{
    padding: 20px;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: rgba(151, 250, 204, 0.705);
    border-radius: 8px;
    margin-top: 10px;

    &__iconEmail{
        font-size: 50px;
        color: rgb(202, 82, 82);
    }

    &__finish{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__iconLinkedin{
        font-size: 40px;
        color: rgb(0, 153, 255);
    }

    &__gitlab{
        font-size: 40px;
        display: flex;
        padding: 20px;
        color: orangered;
    }

    &__text1{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-bottom: 10px;

    }
}


a{
    color: black;
    text-decoration: none;
}

// .lottie{
//     width: 50px;
//     height: 50px;
// }